.news {
	border-radius: 5px;
	border: 1px solid #000000;
	background:  #FFF8DC;

	margin-right: 1rem;
	margin-bottom: 1rem;
	padding-left: 1rem;

	&__list {
		padding: 0;
		list-style: none;
	}

	&__back {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		&__nav {
			font-weight: bold;
			color: #000000;
			text-decoration: none;
		}
	}


}
